<%# app/views/quotes/index.html.erb %>
  <%# 
  custom non-html element created in TJL (turbo javascript library)
  having a unique id given as first attribute [in this case first_turbo_frame].
  It intercepts links and form submissions and thus makes
  the frame an independent piece of the web page.
%>
<main class="container">
  <%= turbo_frame_tag "first_turbo_frame" do %>
    <div class="header">
      <h1>Quotes</h1>
      <%= link_to "New quote", new_quote_path, data: { turbo_frame: "second_frame" }, class: "btn btn--primary" %>
    </div>
  <% end %>
  <%= turbo_frame_tag "second_frame" do %>
    <%= render @quotes %>
  <% end %>
</main>
